<div class="add-form add-category-form">
    <h3 class="section-title">Добавить категорию</h3>

    <div class="form-group left">
        <input type="text" id="title" placeholder="Название категории">
        <input type="text" id="budget" placeholder="Запланированный бюджет">

        <div class="radio">
            <label>
                <input type="radio" name="isIncome" id="optionsRadios2" value="false" checked>
                Расход
            </label>
            <label>
                <input type="radio" name="isIncome" id="optionsRadios1" value="true">
                Доход
            </label>
        </div>
        <a class="add-item button">Добавить<i class="icon icon-plus-squared"></i></a>
    </div>
    <div class="form-group right">
        <ul class="category-icons">
            <li class="icon"><i class="icon-airfield"></i></li>
            <li class="icon"><i class="icon-aboveground-rail"></i></li>
            <li class="icon"><i class="icon-airfield"></i></li>
            <li class="icon"><i class="icon-trash"></i></li>
            <li class="icon"><i class="icon-airport"></i></li>
            <li class="icon"><i class="icon-art-gallery"></i></li>
            <li class="icon"><i class="icon-baseball"></i></li>
            <li class="icon"><i class="icon-bar"></i></li>
            <li class="icon"><i class="icon-basketball"></i></li>
            <li class="icon"><i class="icon-beer"></i></li>
            <li class="icon"><i class="icon-belowground-rail"></i></li>
            <li class="icon"><i class="icon-bicycle"></i></li>
            <li class="icon"><i class="icon-bus"></i></li>
            <li class="icon"><i class="icon-cafe"></i></li>
            <li class="icon"><i class="icon-campsite"></i></li>
            <li class="icon"><i class="icon-cemetery"></i></li>
            <li class="icon"><i class="icon-cinema"></i></li>
            <li class="icon"><i class="icon-college"></i></li>
            <li class="icon"><i class="icon-commerical-building"></i></li>
            <li class="icon"><i class="icon-credit-card"></i></li>
            <li class="icon"><i class="icon-embassy"></i></li>
            <li class="icon"><i class="icon-fast-food"></i></li>
            <li class="icon"><i class="icon-ferry"></i></li>
            <li class="icon"><i class="icon-fire-station"></i></li>
            <li class="icon"><i class="icon-football"></i></li>
            <li class="icon"><i class="icon-fuel"></i></li>
            <li class="icon"><i class="icon-garden"></i></li>
            <li class="icon"><i class="icon-giraffe"></i></li>
            <li class="icon"><i class="icon-golf"></i></li>
            <li class="icon"><i class="icon-grocery-store"></i></li>
            <li class="icon"><i class="icon-harbor"></i></li>
            <li class="icon"><i class="icon-heliport"></i></li>
            <li class="icon"><i class="icon-hospital"></i></li>
            <li class="icon"><i class="icon-industrial-building"></i></li>
            <li class="icon"><i class="icon-library"></i></li>
            <li class="icon"><i class="icon-lodging"></i></li>
            <li class="icon"><i class="icon-london-underground"></i></li>
            <li class="icon"><i class="icon-minefield"></i></li>
            <li class="icon"><i class="icon-monument"></i></li>
            <li class="icon"><i class="icon-museum"></i></li>
            <li class="icon"><i class="icon-pharmacy"></i></li>
            <li class="icon"><i class="icon-pitch"></i></li>
            <li class="icon"><i class="icon-police"></i></li>
            <li class="icon"><i class="icon-post"></i></li>
            <li class="icon"><i class="icon-prison"></i></li>
            <li class="icon"><i class="icon-rail"></i></li>
            <li class="icon"><i class="icon-religious-christian"></i></li>
            <li class="icon"><i class="icon-religious-jewish"></i></li>
            <li class="icon"><i class="icon-religious-islam"></i></li>
            <li class="icon"><i class="icon-restaurant"></i></li>
            <li class="icon"><i class="icon-roadblock"></i></li>
            <li class="icon"><i class="icon-school"></i></li>
            <li class="icon"><i class="icon-shop"></i></li>
            <li class="icon"><i class="icon-skiing"></i></li>
            <li class="icon"><i class="icon-soccer"></i></li>
            <li class="icon"><i class="icon-swimming"></i></li>
            <li class="icon"><i class="icon-tennis"></i></li>
            <li class="icon"><i class="icon-theatre"></i></li>
            <li class="icon"><i class="icon-toilet"></i></li>
            <li class="icon"><i class="icon-town-hall"></i></li>
            <li class="icon"><i class="icon-tree-1"></i></li>
            <li class="icon"><i class="icon-tree-2"></i></li>
            <li class="icon"><i class="icon-warehouse"></i></li>
        </ul>
    </div>
</div>

<div class="categories-table">
    <h3 class="section-title">Категории</h3>
    <table class="table">
        <thead>
        <tr>
            <td class="icon">
            </td>
            <td class="title">
                Название категории
            </td>
            <td class="is-income">
                +/-
            </td>
            <td class="budget">
                Запланировано
            </td>
            <td class="spent">
                По факту
            </td>
            <td class="delete">
            </td>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>