<div class="add-form add-item-form">
    <h3 class="section-title">Добавить запись</h3>

    <div class="form-group">
        <input type="text" id="item" placeholder="Сумма руб.">
        <input type="text" id="date" placeholder="Дата">
        <select class="form-control category" id="category">
            <option>Категория</option>
            <% _.each(categories, function(category){ %>
            <option data-category-id="<%= category.attributes.id %>"><%= category.attributes.title %></option>
            <% }); %>
        </select>
        <a class="add-item">Добавить<i class="icon icon-plus-squared"></i></a>
    </div>
</div>
<div class="spendings-table">
    <h3 class="section-title">Доходы и расходы</h3>
    <table class="table">
    </table>
    <div class="total-sum"><p>Баланс: <b></b> руб.</p></div>
</div>